  <h1>Welcome to the chat room id: <%= @room_id %> </h1>
    <button phx-click="back_home">Home</button>

    <div id="chat-container">
      <div id="chat-messages">
        Chat goes here
      </div>


    </div>
